# 📦 Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log
.env
*.sqlite3

# 📓 Jupyter Notebooks
.ipynb_checkpoints/

# 📊 Power BI
*.pbix

# 🗃️ Données
data/raw/
data/processed/*.bak
*.csv~
*.xlsx~
*.zip
*.tar.gz

# 🧪 Tests et rapports
*.coverage
htmlcov/
*.out
*.tmp

# 💻 IDEs
.vscode/
.idea/
*.swp

# 🔒 Sécurité
*.key
*.pem
*.p12

# 📄 Système
.DS_Store
Thumbs.db
